// Variables de color
$primary: #FFBF00;
$primary-light: #FFD54F;
$primary-dark: #CC9900;
$dark: #141414;
$dark-lighter: #1F1F1F;
$dark-card: #2A2A2A;
$white: #fff;
$transition-speed: 0.3s;
$border-radius: 8px;

// Variables de fuente
$font-family-default: 'Inter', sans-serif;
$font-family-display: 'Playfair Display', serif;