// Estilos de tarjetas
.card {
    background-color: $dark-card;
    border: none;
    @include transition(all, $transition-speed);

    &:hover {
        @include transform(1.05);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
}